.background {
  background-color: var(--color-neutral-light);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header {
  margin-top: -6.5%;
  margin-bottom: 3%;
  letter-spacing: 1ch;
}

.container {
  background-color: var(--color-white);
  height: 52vh;
  width: 64%;
  border-radius: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 4.5vmin;
  display: flex;
}

.leftHalf {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.buttonsGridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5vmin;
}

.buttonsGridItem {
}

@media only screen and (max-width: 750px) {
  .header {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .container {
    width: 100%;
    flex: 1;
    flex-flow: column;
    padding: 3rem;
  }
  .leftHalf {
    width: 100%;
    row-gap: 2rem;
  }
  .buttonsGridContainer {
    gap: 1rem;
    grid-template-columns: auto auto;
  }
}
