.button {
  all: unset;
  font-size: clamp(1.4rem, 1rem + 5vw, 4rem);
  border-radius: 7px;
  width: 100%;
  display: grid;
  place-items: center;
  transition: all 0.15s ease-in;
  padding: 0.25vmin 0;
}

.default,
.default:active:hover,
.inverted.active {
  background-color: var(--color-neutral-darker);
  color: var(--color-white);
}

.default:active,
.inverted {
  background-color: var(--color-primary);
  color: var(--color-neutral-darker);
}

.default:hover,
.inverted:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 1100px) {
  .button {
    font-size: clamp(1.4rem, 1rem + 5vw, 2.1rem);
    padding: 0.6rem 0;
  }
}
